<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>Profil Saya</title>
</head>
<body style="background-color:lavender;">
    <h1>Tentang saya</h1>
    <center><img src="https://www.pngfind.com/pngs/m/80-804723_png-file-svg-profile-picture-square-icon-transparent.png" width="200" height="200"> </center> 
    <h2>Identitas</h2>
    <ul>
        <li>Nama: Shafira Azzahra </li>
        <li>NPM: 1906353813</li>
        <li>Angkatan: 2019</li>
    </ul> 
    <h2>Riwayat pendidikan</h2>
    <ul>
        <li>Universitas Indonesia: 2019 - Sekarang </li>
        <li>SMAN 2 Tangerang: 2016-2019</li>
        <li>SMPN 16 Tangerang: 2013-2016</li>
        <li>SDN Cipondoh 1: 2007-2013</li>
    </ul> 
    <h2>Lain-Lain</h2>
    <p>Hobi: Nonton Film </p>
    <p>Deskripsi tentang saya: suka nonton </p>
    
    <a href="http://instagram.com/shafira.azzhr"> Media sosial</a>
</body>
</html>